@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
	background-color: #201e24;
	color: #49277e;
}

.container{
	margin-top: 20px;
	margin-bottom: 30px;
}

.navbar{
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	border: 1px solid white;
}

.navbar > li{
  margin: 8px 15px 8px 8px;
  font-size: 1.2rem;
}

.navbar > li > a {
	color: #3c3c42;
}

.bg-light{
	background-color: #a09fd8 !important;
}

#app{
	text-align: center;
	margin: 50px 6px 12px 10px;	
}

.Typewriter__wrapper{
	font-family: 'Press Start 2P', cursive;
	font-size: 2.3rem;
	font-weight: bold;
/*	background: -webkit-linear-gradient(#49277e,#a09fd8);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;*/
	color: black;
}

.Typewriter__wrapper > a{
	font-family: 'Press Start 2P', cursive;
	text-decoration: underline;
	font-size: 2.35rem;
/*	background: -webkit-linear-gradient(#a09fd8,#49277e);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;*/
	color: #3c3c42;
}

.swapi{
	color: white;
}

.avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	width: 175px;
	height: 85px;	
}

li{
	list-style-type: none;
}

.b1{
	color: #ff280f;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 1.067rem;
	margin-right: 10px;
	text-decoration: underline;
}

.header{
	margin-top: 50px;
	border: 1px solid white;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	padding-bottom: 30px;
	background-color: #a09fd8;
}

.title{
	margin-top: 45px;
	color: #a09fd8;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 2.067rem;
}

.col-sm{
	margin: 20px;
	border: 1px solid #9400ff;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	padding: 40px;
	color: #a09fd8;
	text-align: center;
	background-color: black;
}

hr{
	background-color: #a09fd8;
}

.footer{
	margin-top: 45px;
	border: 1px solid white;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.7);
	background-color: #a09fd8;
	overflow: hidden;
}

.text-muted{
	color: black !important;
	padding-top: 10px;
	padding-left: 20px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 3.3px;
}

.icon{
	float: right;
	color: #201e24;
	padding: 0px 5px 3px 0px;
}

.icone{
	color: #a09fd8;	
}

.icone:hover{
	color: #9400ff;	
}

.icon:hover{
	color: black;
}

.heart{
	font-size: 1.255rem;
	color: #9400ff;
}